extends ./layouts/layout

block page-title
  title Wiki Thanks
  link(rel="icon",
    href="favicon.ico",
    type="image/x-icon")

block head
  include ./includes/header.jade

block content
  #main.container
    .col-md-2
    .col-md-8
      h2 Increasing the civility in the world
    .col-md-2
      
block scriptblock
  script(src='js/jquery.min.js')
  script(src='js/bootstrap.min.js')
